<div layout="vertical" layout-fill>

  <md-content class="layout-margin" layout-fill>
    <section class="jumbotron">
      <h1>RTK Console</h1>  
    </section>

    <div layout="row" layout-align="center">
      <md-card flex="20">
        <md-card-content>
          <h3 class="md-title">GPS Position</h3>
          <p>x: {{main.gps.position.x}}</p>
          <p>y: {{main.gps.position.y}}</p>
          <p>z: {{main.gps.position.z}}</p>
        </md-card-content>
      </md-card>
      <md-card flex="20">
        <md-card-content>
          <h3 class="md-title">Gimbal Offset</h3>
          <p>x: <input class="offset-input" type="number" ng-model="main.gimbal.offset.x"></p>
          <p>y: <input class="offset-input" type="number" ng-model="main.gimbal.offset.y"></p>
          <p>z: <input class="offset-input" type="number" ng-model="main.gimbal.offset.z"></p>
          <md-button flex class="md-raised md-primary" ng-click="main.applyGimbalOffset()">Apply</md-button>
        </md-card-content>
      </md-card>
      <md-card flex="20">
        <md-card-content>
          <h3 class="md-title">Drone Offset</h3>
          <p>x: <input class="offset-input" type="number" ng-model="main.drone.offset.x"></p>
          <p>y: <input class="offset-input" type="number" ng-model="main.drone.offset.y"></p>
          <p>z: <input class="offset-input" type="number" ng-model="main.drone.offset.z"></p>
          <md-button flex class="md-raised md-primary" ng-click="main.applyDroneOffset()">Apply</md-button>
        </md-card-content>
      </md-card>
      <md-card flex="20">
        <md-card-content>
          <h3 class="md-title">Solution</h3>
          <p>x: {{main.solution.x}}</p>
          <p>y: {{main.solution.y}}</p>
          <p>z: {{main.solution.z}}</p>
        </md-card-content>
      </md-card>
    </div>
    
    <div layout="row" flex="100" layout-align="center center">
      <md-card flex="15">
        <md-card-content>
          <h3 class="md-title">Piksi Status: 
              <a ng-if="main.gps.connection" class="good">Connected</a>
              <a ng-if="!main.gps.connection" class="warn">No Signal</a>
          </h3>
          <p>
            Satellites: {{main.gps.n_sats}}
            <br>
            Points Collected: {{main.gps.n_points}}
          </p>
        </md-card-content>
      </md-card>
      <md-card flex="15">
        <md-card-content>
          <h3 class="md-title">Gimbal Status:
              <a ng-if="main.gimbal.connection" class="good">Connected</a>
              <a ng-if="!main.gimbal.connection" class="warn">No Signal</a>
          </h3>
        </md-card-content>
    </div>
    
    <div layout="row" layout-align="center center" flex="100">
        <md-card flex="80">
            <nvd3 options="main.options" data="main.data" config="main.config"></nvd3>
            <md-button ng-csv="main.getDataArray()" filename="data.csv">Export</md-button>
        </md-card>
    </div>
  </md-content>

</div>
